@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap');
/* inicializando */
*{
    margin:0;
    padding: 0;
    font-family: 'Hind', sans-serif;
    box-sizing: border-box;
    
}
:root{
    --color-fondo-loader: #f1f2f3;
    --color-fondo-header: #00337C;
    --color-logo: #FFDA77;
    --color-anclas-header:#fff;
    --color-anclas-header-hover:#AEE6E6;
    --color-fondo-main: #f9f9f9;
    --color-titulo-producto:#E38B29;
    --color-precios: #000;
    --color-scrollbar: #e6b87f;
    --color-scrollbar-thumb: #ff9d00;
    --color-textos-buscador: darkturquoise;
    --color-borde-buscador: dodgerblue;
    --fondo-producto: #fff;
}
body{
    margin: 0;
    
}
h2{
    font-size: 2.5rem;
}
a{
    text-decoration: none;
}
/*Loader*/
.hidden{
    overflow: hidden;
}
.cargando{
    background-color: var(--color-fondo-loader);
    height: 100vh;
    display: grid;
    place-items: center;
}
/* header */
header {
    background-color: var(--color-fondo-header);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    position: sticky;
    z-index: 999;
    top: 0;
}
header h2{
    margin: 0;
    color:  var(--color-logo);
    font-weight: bolder;
}

header nav{
    display: flex;
    flex-direction: column;      
}
header nav a{
    color: var(--color-anclas-header);
    font-weight: bold;
}
header nav a:hover{
    color: var(--color-anclas-header-hover);
}


.box input{
    padding: 9px 10px 9px 32px;
    outline: none;
    font-size: 18px;
    border-radius: 25px;
    color: var(--color-textos-buscador);
    border: 3px solid var(--color-borde-buscador);
    background: #fff url(./Imagenes/search-icon.png) no-repeat 9px center;
    width: 48px;
    transition: all .5s;
    
}
.box input:hover,input:not(:placeholder-shown){
    width: 200px;
    border-color: var(--color-textos-buscador);
}
.box ::placeholder{
    color: var(--color-textos-buscador);
}
/* main */
main{
    background-color: var(--color-fondo-main);
    display: flex;
    flex-direction: column;
}
.container{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 10px;
    padding: 10px;
    width: 100%;
}
.img{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden; 
    opacity: 95%;
    margin: 0;
    border-radius: 15px;
}
.img:hover::after{transform: translateY(0%);}
#img1{background-image:url(./Imagenes/perros.jpg);}
#img2{background-image:url(./Imagenes/gatos.jfif);}
#img3{background-image:url(./Imagenes/aves.jpg);}
#img4{background-image:url(./Imagenes/accesorios.jpg);}
.img::after{
    font-size: 2rem;
    color:#fff;
    background-color: #16456198;
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    transform: translateY(100%);
    transition:transform .3s;
}
#img1::after{content:"Perros"; }
#img2::after{content:"Gatos";}
#img3::after{content:"Pajaros";}
#img4::after{content:"Accesorios";}
#relacionados{
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #439A97;
    font-size: 1.2rem;
    font-weight: 900;
    color: #E4E4E4;
    margin: 20px;
    transition: .3s;
}
#relacionados:hover{
    transform: scale(1.05);
}
#venta{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    padding: 10px;
    gap: 10px;
    justify-items: center;
    min-height: 70vh;
    align-items: start;
}
#venta .producto{
    border-radius: 12px;
    border: none;
    max-width: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fondo-producto);
    text-align: center;
    height: 365px;
    transition: .2s;
    color: var(--color-precios);
}
#venta .producto img{
    width: 70%;
}
#venta .producto:hover{
    transform: scale(1.07);
    opacity: 90%;
}
#venta .producto span{
    text-decoration: line-through;
}
#venta .producto span:hover{
    text-decoration: underline;
}
#venta .producto h4{
    font-size: 2rem;
    font-weight: 100;
}
#venta .producto h5{
    font-size: 1.4rem;
    font-weight:300;    
}
#venta .producto p{
    font-size: 1.3rem;
    color: var(--color-titulo-producto);
    font-weight: bolder;
}
.filtro{
    display: none !important;
}
/* footer */
footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-fondo-header);
    padding: 10px;
}
footer div  {
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;
    align-items: center;
    margin: 10px;
}
footer div a{
    color: var(--color-anclas-header);
}
footer div a:hover{
    color: var(--color-anclas-header-hover);
}
 /* scrroll bar */
 body::-webkit-scrollbar{
    width: 10px;
    background: var(--color-scrollbar);
    display: flex;
    justify-content: center;
}
body::-webkit-scrollbar-thumb{
    background-color: var(--color-scrollbar-thumb);
    border-radius: 10px; 
}
/* MEDIA queries */
@media (max-width:330px) {
    main .container{
        display: flex;
        flex-direction: column;
    }
    .img{height:150px;}
}
@media (max-width:670px) {
    .container{
        display: grid;
        grid-template-columns: 49% 49%;
        grid-template-rows: 49% 49%;
    }
    .img{height:180px;}
}
@media (min-width:640px) {
    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
    }
    header nav{
        display: flex;
        flex-direction: row; 
        gap:25px;
    }
    main{
        min-height: 78vh;
    }
}
@media (max-width:900px) {
    #mascotas{
        display: grid;
        grid-template-columns: 49% 49%;
        grid-template-rows: 49% 49%;
        gap: calc(10px);
    }
    
}

@media (max-width:450px) {
    #mascotas{
        flex-direction: column;
    }
}
@media (max-width:540px) {
    .div{
        flex-direction: column;
    }
}
@media (max-width:340px){
    footer{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:275px) {
    footer div{
        flex-direction: column;
        align-items: center;
        gap: 0;
        margin: 3px;
    }
}
@media (max-width:800px) {
    main #venta{
        grid-template-columns: 49% 49%;
    }
}
@media (max-width:550px) {
    #venta{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:1030px) {
    #venta{
        grid-template-columns: 32% 32% 32%;
    }
}

