@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap');
@font-face {
    font-family: 'flexslider-icon';
    src: url('fonts/flexslider-icon.eot');
    src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
    
}
/* loading */
.hidden{
    overflow: hidden;
}
:root{
    --color-fondo-loader: #f1f2f3;
    --color-fondo-header:#00204A;
    --color-logo: #FFDA77;
    --color-anclas-header:#ffe;
    --color-anclas-header-hover:#121212;
    --color-fondo-main:#f9f9f9;
    --color-titulo-producto-y-seccion:#FDB44B;
    --color-precios: #00204A;
    --color-scrollbar: #D8D8D8;
    --color-scrollbar-thumb: #063571;
    --fondo-producto: #fff;
}
body.dark{
    --color-fondo-main: #393E46;
    --fondo-producto:#FFD369;
    --color-precios: #ffffff;
    --color-fondo-header: #222831;
    --color-titulo-producto-y-seccion:#ffffff;
}
html body .cargando{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #F1F2F3;
    position: sticky;
    z-index: 1000;
}
/*Inicializando*/
*{
    margin:0;
    padding: 0;
    font-family: 'Hind', sans-serif;
    box-sizing: border-box;
}
h2{
    font-size: 2.5rem;
}
h3{
    margin-top: 10px;
}
a{
    text-decoration: none;
}
/* header */
header {
    background-color: var(--color-fondo-header);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    position: sticky;
    z-index: 900;
    top: 0;
}
header h2{
    margin: 0;
    color: var(--color-logo);
    font-weight: bolder;
}

header nav{
    display: flex;
    flex-direction: column;      
}
header nav a{
    color: var(--color-anclas-header);
    font-weight: bold;
}
header nav a:hover{
    color: var(--color-anclas-header-hover);
}
/*switch*/
#switch{
   background-color: #343d5b;
   border-radius: 1000px;
   border: none;
   position: relative;
   cursor: pointer;
   display: flex;
   outline: none;
   max-width: 60px;
}

#switch span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background-color: none;
    color: #fff;
   
}
#switch::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #f1f2f3;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0,0, 0.2);
}
#switch.active{
    background-color: #ffa500;
    color: #000;
}
#switch.active::after{
    right: 0;
    left: unset;
}


/* main */
main{
    background-color: var(--color-fondo-main);
     
}
/* banner */
.flexslider{
    width: 100%;
    position: relative;
}
.slides{
    overflow: hidden;
}
.slides img {
    width: 100%;
}
.slides,
.flex-control-nav,
.flex-direction-nav{
    padding: 0;
    margin: 0;
    list-style: none;
}
.flex-control-nav{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5%;
    z-index: 899;
}
.flex-control-nav li{
    display: inline-block;
    margin: 0 6px;
}
.flex-control-nav li a{
    display: block;
    background:#777777;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    text-indent: -9999px;
}
.flex-control-nav li a:hover{
    background: #2e2e2e;
}
.flex-control-nav li a.flex-active{
    background: #2e2e2e;
}
.flex-direction-nav a{
    display: block;
    text-decoration: none;
    position: absolute;
    top: 50%;
    z-index: 999;
    height: 40px;
    width: 40px;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.flex-direction-nav .flex-prev{
    left: 0;
}
.flex-direction-nav .flex-next{
    right: 0;
}
.flex-direction-nav a:before {
    font-family: "flexslider-icon";
    font-size: 40px;
    display: inline-block;
    content: '\f001';
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
    content: '\f002';
}
.flexslider:hover .flex-direction-nav .flex-prev{
    opacity: 0.7;
    left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover{
    opacity: 1.0;
}
.flexslider:hover .flex-direction-nav .flex-next{
    opacity: 0.7;
    right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover{
    opacity: 1.0;
}


/* tarjetas */
#mascotas{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 10px;
    padding:20px;
}
#mascotas div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#mascotas a{
    width: 100%;

}
.titulo-seccion{
    color: var(--color-titulo-producto-y-seccion);
}
#mascotas div{
    display: flex;
    align-items: center;
}
.mascota {
    border-radius: 17px;
    border: 0;
    display: flex;
    align-items: center;
    background-color: var(--fondo-producto);
    flex-direction: column;
    max-width: 330px;
    height: 360px;
    padding: 10px;
    transition: .3s;
    color: var(--color-precios);
}
.mascota:hover{
    transform: scale(1.2);
    opacity: 90%;
}
.mascota h4{
    font-size: 1.9rem;
    font-weight: 100;
}
.mascota h5{
    font-size: 1.2rem;
    font-weight: 200;
}

.mascota p {
   font-size: 1.2rem;
   color: var(--color-titulo-producto-y-seccion);
   font-weight: bold;
   white-space: nowrap;
}
#mascotas div a img{
    width: 70%;
}    
span{
    text-decoration: line-through;
}
span:hover{
    text-decoration: underline;
}


.mas{
    background-color: var(--color-fondo-header);
    border-radius: 10px;
    font-weight: bold;
    width: 70%;
    text-align: center;
    max-width: 330px;
    color: var(--color-titulo-producto-y-seccion);
    transition: .5s;
}
.mas:hover{
    opacity: 90%;
    transform: scale(1.2);
}
/* footer */
footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-fondo-header);
    padding: 10px;
}
footer div  {
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;
    align-items: center;
    margin: 10px;
}
footer div a{
    color: var(--color-anclas-header);
}
footer div a:hover{
    color: var(--color-anclas-header-hover);
} 
 /* scrroll bar */
body::-webkit-scrollbar{
    width: 10px;
    background: var(--color-scrollbar);
}
body::-webkit-scrollbar-thumb{
    background-color: var(--color-scrollbar-thumb);
    border-radius: 10px; 
}
/* media queries */
@media (min-width:640px) {
    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
    }
    header nav{
        display: flex;
        flex-direction: row; 
        gap:25px;
    }
    
}
@media (max-width:1000px) {
    #mascotas{
        display: grid;
        grid-template-columns: 49% 49%;
        grid-template-rows: 49% 49%;
        gap: 10px;
    }
    
}

@media (max-width:450px) {
    #mascotas{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:540px) {
    footer div div{
        flex-direction: column;
    }
}
@media (max-width:340px){
    footer{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:290px) {
    footer div{
        flex-direction: column;
        align-items: center;
        gap: 0;
        margin: 3px;
    }
}

