@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hind',sans-serif;
}

:root{
    --color-fondo-header:#00204A;
    --color-logo: #FFDA77;
    --color-anclas-header:#ffe;
    --color-anclas-header-hover:#121212;
    --color-fondo-main:#f9f9f9;
    --color-scrollbar: #D8D8D8;
    --color-scrollbar-thumb: #063571;
    --color-texto-main: rgb(13, 31, 68);
}
body.dark{
    --color-fondo-main: #393E46;
    --color-fondo-header: #222831;
    --color-texto-main: #fff;
}

h2{
    font-size: 2.5rem;
}
a{
    text-decoration: none;
}
/*loading*/
.cargando{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #f1f2f3;
    z-index: 1000;
    position: sticky;
    top: 0;
}
.hidden{
    overflow: hidden;
}

/* header */
header {
    background-color: var(--color-fondo-header) ;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    position: sticky;
    z-index: 999;
    top: 0;
}
header h2{
    color:  var(--color-logo);
    font-weight: bolder;
}

header nav{
    display: flex;
    flex-direction: column;      
}
header nav a{
    color: var(--color-anclas-header);
    font-weight: bold;
}
header nav a:hover{
    color: var(--color-anclas-header-hover);
}
/*switch*/

#switch{
    background-color: #343d5b;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    max-width: 60px;
}
 
#switch span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background-color: none;
    color: #fff;
}
#switch::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #f1f2f3;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0,0, 0.2);
}
#switch.active{
    background-color: #ffa500;
    color: #000;
}
#switch.active::after{
    right: 0;
    left: unset;
}


/* main */
main{
    background-color: var(--color-fondo-main);
    display: flex;
    align-items: center;
    min-height: calc(100vh - 168px);
    padding: 10px;
}
main p{
    text-align: center;
    font-size: 1.7rem;
    font-family: inherit;
    color: var(--color-texto-main);
    font-weight: bolder;
}
main img{
    width: 50vw;
}

/* footer */
footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-fondo-header);
    padding: 10px;
}
footer div  {
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;
    align-items: center;
    margin: 10px;
}
footer div a{
    color: var(--color-anclas-header);
}
footer div a:hover{
    color: var(--color-anclas-header-hover);
}
 /* scrroll bar */
 body::-webkit-scrollbar{
    width: 10px;
    background: var(--color-scrollbar);
}
body::-webkit-scrollbar-thumb{
    background-color: var(--color-scrollbar-thumb);
    border-radius: 10px; 
}
/* media queries */
@media (min-width:640px) {
    header{
        flex-direction: row;
        justify-content: space-around;
    }
    header nav{
        flex-direction: row; 
        gap:25px;
    }
    
}
@media (max-width:570px) {
    .div{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:340px){
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:275px) {
    footer div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        margin: 3px;
    }
}
@media (max-width:700px) {
    main{
        display: flex;
        flex-direction: column-reverse;
    }
    main img{
        width: 90vw;
    }
}
@media (max-width:300px) {
    img{
        display: none;
    }
}
